<section class="about-hero">
    <div class="text text-about">
        <h1>I'm <span>Guga</span>
            <figure>
                <img src="{{ "{{site.baseurl}}/assets/images/icons/emojis/rock-icon.png" | relative_url }}">
            </figure>
        </h1>
        <p>I am a Product designer and illustrator from Lisbon 
            who loves great concepts executed beautifully and efficiently 
            to drive usability and growth. I help build user-centered products 
            taking a holistic approach to problem solving.</p>
        <a href="#" target="_self">
            <button class="secondary-button icon-button" type="button" name="scroll">Keep scrolling
                <figure>
                    <img src="{{ "{{site.baseurl}}/assets/images/icons/arrow-down.svg" | relative_url }}">
                </figure>
            </button>
        </a>
    </div>
    <figure>
      <img src="{{ "{{site.baseurl}}/assets/images/hero-about-image.png" | relative_url }}" alt="Guga headshot">
    </figure>
</section>