<section class="contact-hero">
    <div class="get-in-touch-text">
        <div class="get-in-touch-title">
            <h1>Let's get in <span>touch</span>
                <figure>
                    <img src="{{ "{{site.baseurl}}/assets/images/icons/emojis/rock-icon.png" | relative_url }}">
                </figure>
            </h1>
        </div>
        <p>I'm always available to talk about work projects, case studies or anything that is on your mind. 
            We can have a nice Zoom chat over an nice cup of coffee.</p>
    </div>
    <a href="mailto:{{site.email}}">
        <button class="primary-button icon-button" type="button" name="button">
            <figure>
                <img src="{{ "{{site.baseurl}}/assets/images/icons/icon-send.svg" | relative_url }}">
            </figure>
            Send email
        </button>
    </a>
</section>