<section class="home-hero">
    <div class="text">
        <h1>Hey, I'm <span>Guga</span></h1>
        <p>A Product Designer and Illustrator based in Lisbon. 
            I spend most of my time between figuring my way around UX/UI and doodling whatever comes to mind.</p>
        <form class="connect-form">
            <input type="email" name="email" value="" placeholder="Your email address">
            <button class="primary-button" type="submit" name="submit-email">Let's connect</button>
        </form>
    </div>
    <figure>
      <img src="{{ "{{site.baseurl}}/assets/images/hero-image.png" | relative_url }}" alt="Guga headshot">
    </figure>
</section>