---
layout: default
title: home
---
{% include banners/home-hero.html %}
{% include modules/companies.html %}
{% include modules/intro-text.html %}
  <section class="text-img white left-right-margin top-bottom-padding">
    <div class="text">
      <div class="subtitle">Services</div>
      <h3>What I create with clients</h3>
      <p>Throughout the years, I've worked in many different fields within design and developed skills that range from branding all the way to building digital products.</p>
    </div>
    <ul class="card-list">
      <li class="card purple">
        <p class="icon">🔗</p>
        <h4>User experience</h4>
        <p class="small-body-text">All Proxify developers are pre-vetted so you will have a new team member ready to start in days. Not months.</p>
      </li>
      <li class="card yellow">
        <p class="icon">🎨</p>
        <h4>Illustration work</h4>
        <p class="small-body-text">From big commissions to smaller projects such as illustrative icons, spot illustrations and so on.</p>
      </li>
      <li class="card green">
        <p class="icon">📍</p>
        <h4>Brand identity</h4>
        <p class="small-body-text"  >Working on giving a meaning to every client's specific need in order to shape the brand in consumers' minds.</p>
      </li>
    </ul>
  </section>
  <section class="quote  left-right-margin top-bottom-padding">
    <h3>From <span>branding</span> to <span>UX/UI</span>.</h3>
    <h3>Check out my projects bellow</h3>
  </section>
  <section class="text-img left-right-margin bottom-padding">
    <div class="section-wraper">
      <div class="text">
        <h3>Faber Ventures</h3>
        <p>Faber is a venture capital firm based in Lisbon whose main vision is to invest in teams with a global tech and data driven focus starting from Europe. The goal was to help them re-position their brand and relaunch with a fresh new identity: starting from the logo to a brand new responsive website.</p>
        <button class="secondary-button"type="button" name="button">Learn more</button>
      </div>
      <div class="img">
        <img src="assets/faber-image.png" alt="faber mockup">
      </div>
    </div>
  </section>
  <section class="text-img left-right-margin bottom-padding reverse">
    <div class="section-wraper">
      <div class="text">
        <h3>Major Illustration</h3>
        <p>“How to Deal with Communication Overload” as a part of a series of blog articles, to help people navigate work after Covid-19. This in particular was meant to serve as a guiding light to people new to working remote and that social distancing didn't mean less communication but a constant drowning in a stream of it.</p>
        <button class="secondary-button" type="button" name="button">Learn more</button>
      </div>
      <div class="img">
        <img src="assets/major-illustration.png" alt="major illustration">
      </div>
    </div>
  </section>
  <section class="quote left-right-margin bottom-padding">
    <a href="#">View more</a>
  </section>
  <section class="quote dark sleft-right-margin top-bottom-padding">
    <h3>Let's get in touch 🤘🏻</h3>
    <button class="main-button" type="button" name="button">Send email</button>
  </section>
  <div class="footer left-right-margin">
    <ul class="main-nav">
      <li><a class="navoption" href="">About</a></li>
      <li><a class="navoption" href="">Case Studies</a></li>
      <li><a class="navoption" href="">Services</a></li>
      <li><a class="navoption" href="">Contact</a></li>
    </ul>
    <ul>
      <li><a class="social" href=""><img src="assets/dribbble-white.png" alt="dribbble logo"></a></li>
      <li><a class="social" href=""><img src="assets/linkedin-white.png" alt="linkedin logo"></a></li>
      <li><a class="social" href=""><img src="assets/Instagram-white.png" alt="Instagram logo"></a></li>
    </ul>
  </div>
<!-- </body>
</html> -->
