---
layout: default
title: home
---
{% include banners/home-hero.html %}
{% include modules/companies.html %}
{% include modules/intro-text.html %}
{% include modules/services.html %}
{% include modules/projects.html %}
  <section class="quote dark sleft-right-margin top-bottom-padding">
    <h3>Let's get in touch 🤘🏻</h3>
    <button class="main-button" type="button" name="button">Send email</button>
  </section>
  <div class="footer left-right-margin">
    <ul class="main-nav">
      <li><a class="navoption" href="">About</a></li>
      <li><a class="navoption" href="">Case Studies</a></li>
      <li><a class="navoption" href="">Services</a></li>
      <li><a class="navoption" href="">Contact</a></li>
    </ul>
    <ul>
      <li><a class="social" href=""><img src="assets/dribbble-white.png" alt="dribbble logo"></a></li>
      <li><a class="social" href=""><img src="assets/linkedin-white.png" alt="linkedin logo"></a></li>
      <li><a class="social" href=""><img src="assets/Instagram-white.png" alt="Instagram logo"></a></li>
    </ul>
  </div>
<!-- </body>
</html> -->
