.home-hero {
    background-color: $light-blue;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    @media (min-width: $screen-md) {
        flex-direction: row;
    }
    
    .text {
        padding: $padding-mobile;
        display: flex;
        flex-direction: column;
        gap: rem(16px);
        span {
            color: $blue;
        }
        p {
            color: $dark-grey;
        }
        form {
            position: relative;
        }
        input {
            width: 100%;
        }
        button {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}
.contact-hero {
    display: flex;
    flex-direction: column;
    gap: rem(64px);
    place-items: center;
    text-align: center;
    background-color: $light-blue;
    padding: $padding-mobile;
    padding-top: rem(64px);
    padding-bottom: rem(64px);
    .get-in-touch-text {
        display: flex;
        flex-direction: column;
        gap: rem(32px);
        max-width: rem(640px);
        h1 {
            span {
                color: $blue;
            }
        }
        figure {
            display: inline-block;
            vertical-align: middle;
            img {
                max-height: rem(64px);
            }
        }
    }
}