<section class="case-study-intro" id="{{page.class}}">
    <figure class="case-study-intro-logo">
        <img src="{{ "{{site.baseurl}}/assets/images/projects/logos/{{page.class}}-logo.png" | relative_url }}" alt="">
    </figure>
    <div class="case-study-intro-text">
        <h2>Proxify connects 
            talented developers with scaling teams</h2>
        <p>A company founded by developers who understand that talent does not have borders. Helping more than 350 companies in 22 countries.</p>

    </div>
</section>
<section class="case-study-overview">
    <div class="scope">
        <h3>Scope</h3>
        <ul>
            <li>Research</li>
            <li>Strategy</li>
            <li>User experience</li>
            <li>User interface</li>
        </ul>
    </div>
    <div class="process">
        <div class="challenge">
            <h3>Challenge</h3>
            <p>The current talent acquisition process is still based on Proxify's bootstrapping days where it is very reactive. 
                This frenetic, fast-paced process due to the constant growth in demand and limited hiring resources is proving to be increasing member's furstration which leads to an increasing dropout rate.</p>
        </div>
        <div class="goal">
            <h3>Main goal</h3>
            <p>The goal is to make Proxify move away from having the candidates apply to specific positions and instead recruit proactively. 
                Where members apply to the network instead of applying to a specific job role.</p>
        </div>
        <div class="hmw">
            <h3>How might we</h3>
            <p>Create a solution that can attract talented software engineers and designers to become a part of the network without having them apply to specific jobs?</p>
        </div>
    </div>
</section>
<section class="analyzing-data">
    <div class="analyzing-data-text">
        <h2>Analyzing data</h2>
        <p>After the discovery phase we've collected the data from the user
        interviews, analyzed and mapped it out so that we could start forming insights, hypothesis and potential solutions towards the problem we were facing.</p>
    </div>
    <figure>
        <img src="{{ "{{site.baseurl}}/assets/images/projects/{{page.class}}/img1.png" | relative_url }}">
        <img src="{{ "{{site.baseurl}}/assets/images/projects/{{page.class}}/img2.png" | relative_url }}">
    </figure>
</section>
<section class="opportunities">
    <h2>Key opportunities</h2>
    <div class="opportunities-text">
        <div class="members">
            <h3>Members</h3>
            <ul>
                <li>Explain what is Proxify: the mission, vision and values as well as who is a part  of the team.</li>
                <li>Highlight the benefits of becoming a member as well as the platform that takes.</li>
                <li>Create an application flow that allows for transparency and follow-up from the Talent Acquisiton team and feels tailor-made to each skill.</li>
            </ul>
        </div>
        <div class="clients">
            <h3>Clients</h3>
            <ul>
                <li>Create an application flow that helps pre-screen and filter candidates and so that we can increase quality instead of quantity.</li>
                <li>Increase the TA availability by filtering candidates by location, rate expectation, experience, etc.</li>
                <li>Include a short tech quiz to help identify fast-tracked candidates in order to prioritize them.</li>
            </ul>
        </div>
    </div>
</section>
<section class="defining-scope">
    <div class="analyzing-data-text">
        <h2>Defining the scope</h2>
        <p>In this stage although we already knew who our users are due to the constant iteration and contact we still developed personas just to remind ourselves who we were designing for. 
            We also did user flows, as well as defining each stage of the scope, what had to be designed as well as the information architecture.</p>
    </div>
    <figure>
        <img src="{{ "{{site.baseurl}}/assets/images/projects/{{page.class}}/img3.png" | relative_url }}">
        <img src="{{ "{{site.baseurl}}/assets/images/projects/{{page.class}}/img4.png" | relative_url }}">
    </figure>
</section>
<section class="solution-intro">
    <h2>Solution</h2>
    <p>To build a dedicated talent website that truly engaged with the user by talking about the benefits of joining Proxify as well as an integrated member application flow as part of the website that is able to fast track candidates according to our specific business needs.</p>
    <figure>
        <img src="{{ "{{site.baseurl}}/assets/images/projects/{{page.class}}/img5.png" | relative_url }}">
    </figure>
</section>
<section class="solution-build">
    <div class="solution-build-text">
        <h2>Building the solution</h2>
        <p>We started out by testing our content structure and copy with screens made in word so that everyone in the company, 
            even the ones not used to Figma, could give feedback and iterate the solution with the design team. Other things we did include:</p>
        <ul>
            <li>High-fidelity wireframes for the new layout</li>
            <li>A well documented styleguide/ UI kit </li>
            <li>Visual design</li>
        </ul>
    </div>
    <figure>
        <img src="{{ "{{site.baseurl}}/assets/images/projects/{{page.class}}/img6.png" | relative_url }}">
    </figure>
</section>
<section class="color">
    <h2>Thinking in colour</h2>
    <p>Our styleguide was design in order to allow the product to scale at will 
        and followed not only the brand elements already in place but was flexible enough 
        to allow the creation of new elements that fit perfectly as a complement to what had been already designed.</p>
    <figure>
        <img src="{{ "{{site.baseurl}}/assets/images/projects/{{page.class}}/img7.png" | relative_url }}">
        <img src="{{ "{{site.baseurl}}/assets/images/projects/{{page.class}}/img8.png" | relative_url }}">
        <img src="{{ "{{site.baseurl}}/assets/images/projects/{{page.class}}/img9.png" | relative_url }}">
        <img src="{{ "{{site.baseurl}}/assets/images/projects/{{page.class}}/img10.png" | relative_url }}">
        <img src="{{ "{{site.baseurl}}/assets/images/projects/{{page.class}}/img11.png" | relative_url }}">
    </figure>
</section>
<section class="final">
    <h2>Final product</h2>
    <div class="slide">
        <figure>
            <img src="{{ "{{site.baseurl}}/assets/images/projects/{{page.class}}/img12.png" | relative_url }}">
        </figure>
        <figure>
            <img src="{{ "{{site.baseurl}}/assets/images/projects/{{page.class}}/img13.png" | relative_url }}">
        </figure>
    </div>
</section>