@import "utilities/reset";
@import "utilities/mixins";
@import "utilities/clears";
@import "utilities/media-queries";
@import "utilities/animations";

@import "design-system/colors";
@import "design-system/typography";
@import "design-system/spacings";

@import "atoms/buttons";
@import "atoms/icons";
@import "atoms/inputs";


@import "global/header";
@import "global/banners";
@import "global/footer";
@import "global/layouts";

@import "modules/companies";
@import "modules/intro-text";
@import "modules/services";
@import "modules/projects";
@import "modules/get-in-touch-cta";
@import "modules/office-contact";