.companies {
    background-color: $dark-grey;
    display: grid;
    text-align: center;
    gap: rem(16px);
    padding: $padding-mobile;

    @media (min-width: $screen-sm) {
        grid-template-columns: 1fr 2fr;
        align-items: center;
        justify-content: space-between;
        text-align: left;
    }
    @media (min-width: $screen-lg) {
        grid-template-columns: 1fr 1fr;
    }
    h2 {
        color: $white;
        font-size: rem(16px);
        font-weight: 500;
        @media (min-width: $screen-sm) {
            font-size: rem(16px);
        }
        @media (min-width: $screen-md) {
            font-size: rem(20px);
        }
    }
    .companies-list {
        display: flex;
        align-items: center;
        gap: rem(16px);

        figure {
            @media (min-width: $screen-sm) {
                padding: rem(16px);
            }
        }
    }
}