.office-contact {
    margin: $margin-desktop;
    margin-top: rem(64px);
    margin-bottom: rem(64px);
    display: flex;
    flex-direction: column;
    gap: rem(32px);
    .office-card {
        background-color: $white;
        padding: $padding-mobile;
        display: grid;
        gap: rem(32px);
        @media(min-width: $screen-lg) {
            padding: $padding-desktop;
            gap: rem(64px);
        }
        @media(min-width: $screen-sm) {
            grid-template-columns: 1fr 1fr;
            align-items: center;
        }
    }
}
.office-text {
    display: flex;
    flex-direction: column;
    gap: rem(16px);
    color: $dark-grey;
    h3 {
        font-size: rem(32px);
        font-weight: 500;
        color: $black;
        @media(min-width: $screen-lg) {
            font-size: rem(40px);
        }
    }
    address {
        font-style: normal;
        @media(min-width: $screen-lg) {
            font-size: rem(20px);
        }
        a {
            margin-top: rem(32px);
        }
        strong {
            font-weight: 600;
        }
    }
}