---
layout: default
---
<section class="{{page.class}}-banner case-study-hero">
    <figure class="banner-wrapper">
        <img src="{{ "{{site.baseurl}}/assets/images/projects/banners/hero-{{page.class}}.png" | relative_url }}">
        <figcaption>
            <p>Case study</p>
            <h1>{{page.h1}}</h1>
            <a href="#" target="_self">
                <button class="secondary-button icon-button secondary-button-white" type="button" name="scroll">Keep scrolling
                    <figure>
                        <img src="{{ "{{site.baseurl}}/assets/images/icons/arrow-down-white.svg" | relative_url }}">
                    </figure>
                </button>
            </a>
        </figcaption>
    </figure>

</section>