<section class="get-in-touch">
    <div class="get-in-touch-text">
        <h2>Let's get in touch</h2>
        <figure>
            <img src="{{ "{{site.baseurl}}/assets/images/icons/emojis/rock-icon.png" | relative_url }}">
        </figure>
    </div>
    <a href="mailto:{{site.email}}">
        <button class="primary-button icon-button" type="button" name="button">
            <figure>
                <img src="{{ "{{site.baseurl}}/assets/images/icons/icon-send.svg" | relative_url }}">
            </figure>
            Send email
        </button>
    </a>
</section>