<section class="intro-text">
    <div class="intro-title">
        <p class="subtitle"><strong>Guga Páscoa</strong></p>
        <h2>A bit more about myself</h2>
    </div>
    <div class="intro-paragraphs">
        <p>I've been working with desgin for over 9 years. I started my career in fashion but after 4 years working in the industry, I figured that what I truly wanted was to communicate through well crafted brand experiences.</p>
        <p>My career as led me to work with great agencies, working with projects that helped shape my experience and, not only who I am but also what I can offer as a designer.</p>
    </div>
</section>