<section class="office-contact">
    <div class="office-title">
        <h2>Or we can grab a real coffee
            in case you're in Lisbon</h2>
    </div>
    <div class="office-card">
        <figure>
          <img src="{{ "{{site.baseurl}}/assets/images/lisbon-office.png" | relative_url }}" alt="{{project.thumbnail-alt}}" title="{{project.title}}">
        </figure>
        <div class="office-text">
            <h3>Lisbon Office</h3>
            <address>
                <p><strong>Corrente Arroios</strong></p>
                <p>Rua Passos Manuel 99A<br>
                    1050-256 Lisbon, Portugal</p>
            </address>
            <a href="tel:+351916579200">+351 916 579 200</a>
            <a href="https://goo.gl/maps/VpxD8tAuSieXyfpq7" target="_blank">
                <button class="secondary-button" type="button" name="button">Directions</button>
            </a>
        </div>
    </div>
</section>